*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    background-color: #111;
    overflow: hidden;
}
.salute{
    height: 100vh;
    display: flex;
    align-items:center ;
   overflow: hidden;
}
.saluteTextContainer{
    flex:3;
    margin-left: 170px;

}
.saluteImgContainer{
    flex: 2;
}
.SaluteImg{
    width: 150%;
 
}
.greetings{
    color: #333;
    font-size: 40vw;
    cursor: default;
}
.nameContainer{
    height: 100vh;
    background-color:#ddeae3;

}
.name{
    font-size: 20vw;
    color: #5e6b64;
    cursor: default;
    text-align: center;
    line-height: 100vh;
}

.jobTitleContainer{
    height: 100vh;
}
.dark{
    background:url("./images/bg1.png")
}
.greenish{
    background: #ddeae3 url("./images/bg2.png");
}
.jobTitle{
    font-size: 10vw;
    color: #333;
    line-height: 100vh;
    cursor: default;
}
.projects{
    display: flex;
    flex-direction: column;
    gap:30vh;
    padding: 0px 100px;
}
.projectTitle{
    font-size: 5vw;
    color: #333;
}
.project{
    display:flex;
    align-items: center;
    gap:100px;
    height: 100vh;
    overflow: hidden;
}
.project:nth-child(2n){
    flex-direction: row-reverse;
}
.phone{
    flex: 1;
    width: 300px;
    height:600px;
   position: relative;
}
.phoneScreen{
    width: 264px;
    height: 567px;
    position: absolute;
    top:17px;
    left: 18px;
    border-radius: 28px;
}
.phoneScreen::-webkit-scrollbar{
    display: none;
}
.phoneApp{
     width: 264px;
    height: 567px; 
    border-radius: 28px;
    overflow: scroll;
}
.projectdetails{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items:center;
}
.projectTitle{
    font-size: 5vw;
    color: #555;

}
.projectDescription{
    font-size: 20px;
    color: #555;
    text-align: justify;
    line-height: 40px;
}
/* .projectBTN{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relatives;
    overflow: hidden;
}
.projectBTN::after{
    content: "View Demp";
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:-100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #222;
}
.projectBTN:hover .projectBTN::after{
    transform: translateX(100%);   
} */
.projectButton {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .projectButton::after {
    content: "View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #222;
  }
  
  .projectButton:hover.projectButton::after {
    transform: translateX(100%);
  }
.laptop{
    width: 600px;
    height: 379px;
    flex:1;
    position: relative;
}
.laptopScreen{
    width: 451px;
    height:283px;
    position: absolute;
    top:18px;
    left:68px;
    overflow: scroll;

}
.laptopApp{
    width: 100%;

}

.laptopScreen::-webkit-scrollbar{
    display: none;
}
.githubContainer{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.githubTitle{
    color: #333;
    font-size: 100px;
}
.githubChart{
    width: 820px;
    text-align: center;
}
.dates{
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.boxContainer{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}
.box{
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all ease;
}
.active:nth-child(4n) {
    background-color: #195b2c;
}
.githubChart:hover .active:nth-child(2n+1){
    background-color: #195b2c;
}
.githubChart:hover .active:nth-child(2n){
    background-color: #063f24;
}
.githubSm{
    display: none;

}
/* -------------------------------------------------Contact------------------------------------- */
.contact{
    height: 100vh;
    width: 100vw;
   margin-top: 20px;
   color: #555;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #555;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #555;
    margin-right: 15px;
    font-size: 25px;
}
.contact-right{
    flex-basis: 60%;
}
.Social-icons{
    margin-top: 30px;
}
.Social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display:inline-block;
    transition: transform 0.5s;
}
.Social-icons a:hover{
    color:#28838f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
  
    }
.btn{
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
}
.btn.btn2::after {
    content: "Download Resume";
    width: 100%;
    height: 100%;
    position: absolute;
    /* padding: 20px 30px; */
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #222;
  }
  
  .btn.btn2:hover.btn.btn2::after {
    transform: translateX(100%);
  }
  .contact-right form{
    width:100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    color:  #ababab;;
    font-weight: 300;
    margin-top: 20px;
}
.copyright .fa-heart{
    color: #555;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
/* ------------------------------------------------------------------------------------------------- */
@media screen  and (max-width:1024px){
   
    .projects{
        padding: 0 30px;
        text-align: center;
    }
    
    .project{
        flex-direction: column;
        height: max-content;
    }
    .project:nth-child(2n){
        flex-direction: column;
    }
    .phone, .laptop{
        transform: none !important;
    }
    .githubChart{
        display: none;
    }
    .githubTitle{
        text-align: center;
        font-size: 10vh;
    }
    .githubSm{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #555;
        font-size: 30px;
        text-align: center;
    }
    .salute{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .SaluteImg{
        width:30vh;
    }
    .saluteTextContainer{
        margin-left: 0;
    }
    .greetings{
        text-align: center;
    }
}